.pure-menu-item .pure-menu-link {
    color: var(--font-color);
    background: var(--background-color);
}

.pure-menu-item:hover .pure-menu-link:hover {
    color: var(--background-color);
    background: var(--font-color);
}

.pure-menu li a:hover,
.pure-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}