.light {
    --color-primary: #0060df;
    /* light blue */
    --color-accent: #fd6f53;
    /* orange */
    --background-color: #ffffff;
    /* white */
    --font-color: #000000;
    /* black */
}

.dark {
    --color-primary: #7ec5a6;
    /* light green */
    --color-accent: #12cdea;
    /* sky blue */
    --background-color: #100c2a;
    /* black */
    --font-color: #ffffff;
    /* white */
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: var(--background-color, #100c2a);
    color: var(--font-color, #ffffff);
}