.theme-button {
    height: 1em;
    width: 1em;
    right: 10px;
    top: 3px;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    position: absolute;
}

.theme-icon {
    height: inherit;
    width: inherit;
}