.theme-light {
  --color-primary: #0060df;       /* light blue */ 
  --color-accent: #fd6f53;        /* orange */
  --background-color: #ffffff;    /* white */
  --font-color: #000000;          /* black */
}

.theme-dark {
  --color-primary: #7ec5a6;       /* light green */    
  --color-accent: #12cdea;        /* sky blue */
  --background-color: #000000;    /* black */
  --font-color: #ffffff;          /* white */
}

body {
    background: var(--background-color);
    color: var(--font-color);
}

#ecHomeBar{
  width: 100vw;
  height: 50vh;
}

#ecHomeName{
  width: 100vw;
  height: 25vh;
}

#ecHomeTag{
  width: 100vw;
  height: 20vh;
}

.skillsItem {
  width: 33vw;
  height: 45vh;
}

#ecTechStack {
  width: 100vw;
  height: 90vh;
}

#ecDomains {
  width: 100vw;
  height: 90vh;
}

#containerVR {
  width: 100vw;
  height: 90vh;
}

a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.pure-menu-link {
    padding: 10px;
    color: var(--font-color);
}

.pure-menu-horizontal {
    display: inline-block;
    width: 100vw;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
    white-space: nowrap;
    position: relative;
}

.searchVideoForm {
    padding-top: 50px;
    width: 50%;
    margin-left: 25%;
}

.searchVideoTextBox {
    background: var(--background-color);
    color: var(--font-color);
}

.videoGrid {
    margin-left: 25%;
    margin-top: 25px;
}

.videoItem {
    width: 65%;
    height: 400;
}
      